REACT_APP_API_URL==https://fleemy.onrender.com
REACT_APP_DISABLE_GOOGLE_AUTH=true
REACT_APP_FIREBASE_API_KEY=AIzaSyBNNGQf0tz3mtnDL-E0dEYSi9ce34lZkDw
REACT_APP_FIREBASE_AUTH_DOMAIN=fleemy-21118.firebaseapp.com
REACT_APP_FIREBASE_PROJECT_ID=fleemy-21118
REACT_APP_FIREBASE_STORAGE_BUCKET=fleemy-21118.firebasestorage.app
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=273204841300
REACT_APP_FIREBASE_APP_ID=1:273204841300:web:15f50e65c64dd87cb556c1
